<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">

      <li class="header">MENÚ PRINCIPAL</li>

      <li>
        <a href="dashboard">
          <i class="glyphicon glyphicon-th-large"></i>
          <span>Administración</span>
        </a>
      </li>

      <li>
        <a href="users">
          <i class="glyphicon glyphicon-user"></i>
          <span>Gestión de usuarios</span>
        </a>
      </li>

      <li>
        <a href="categories">
          <i class="glyphicon glyphicon-th-list"></i>
          <span>Categorías</span>
        </a>
      </li>

      <li>
        <a href="products">
          <i class="fa fa-cubes"></i>
          <span>Productos</span>
        </a>
      </li>

      <li>
        <a href="clients">
          <i class="fa fa-users"></i>
          <span>Clientes</span>
        </a>
      </li>

      <li class="treeview">
        <a href="#">
          <i class="glyphicon glyphicon-shopping-cart"></i>
          <span>Ventas</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">

          <li>
            <a href="register-sale"><i class="fa fa-circle-o"></i> Registrar venta</a>
          </li>

          <li>
            <a href="manager-sale"><i class="fa fa-circle-o"></i> Administrar ventas</a>
          </li>

          <li>
            <a href="reports"><i class="fa fa-circle-o"></i> Reporte de ventas</a>
          </li>
        </ul>
      </li>
    </ul>
  </section>
</aside>
